# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/httpRequests
.idea/*/workspace.xml
.idea/*/tasks.xml
.idea/*/usage.statistics.xml
.idea/*/dictionaries
.idea/*/shelf
.idea/caches
.idea/libraries
.idea/modules.xml

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.sts4-cache/
.springBeans
.recommenders/
.externalToolBuilders/
*.launch

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS – macOS
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon
._*

# OS – Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# OS – Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Java
*.class
*.log
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
