.vbox {
    -fx-background-image: url("/assets/cover_image.png");
    -fx-background-size: cover;
}

.ready-button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-front-weight: bold;
}
.not-ready-button {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-front-weigh: bold;

}
/* Style for players who are ready: light green background */
.player-ready {
    -fx-background-color: #b6fcb6;
    -fx-background-radius: 5;
    -fx-padding: 5;
}
/* Style for players who are not ready: transparent background */
.player-unready {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5;
}
.map-label {
    -fx-font-size: 14px;
    -fx-text-fill: #336699;
    -fx-font-weight: bold;
}

